defaults:
  - env/realworld_button_xsquare@env.train
  - env/realworld_button_xsquare@env.eval
  - model/flow_policy@actor.model
  - training_backend/fsdp@actor.fsdp_config
  - override hydra/job_logging: stdout

hydra:
  run:
    dir: .
  output_subdir: null
  searchpath:
    - file://${oc.env:EMBODIED_PATH}/config/

cluster:
  num_nodes: 2
  component_placement:
    actor:
      node_group: "4090"
      placement: 0-0
    env:
      node_group: turtle2
      placement: 0
    rollout:
      node_group: "4090"
      placement: 0-0
  node_groups:
    - label: "4090"
      node_ranks: 0-0
    - label: turtle2
      node_ranks: 1-1
      hardware:
        type: Turtle2
        configs:
          - node_rank: 1

runner:
  task_type: embodied
  logger:
    log_path: "../results"
    project_name: rlinf
    experiment_name: "sac_mlp"
    logger_backends: ["tensorboard"] # wandb, swanlab

  max_epochs: 8000
  max_steps: -1

  only_eval: False
  val_check_interval: -1
  save_interval: -1
  seq_length: 4096
  max_prompt_length: 30

algorithm:
  update_epoch: 32
  group_size: 1
  agg_q: min

  # rollout_epoch: 1
  eval_rollout_epoch: 1

  adv_type: embodied_sac
  loss_type: embodied_sac
  loss_agg_func: "token-mean"
  
  bootstrap_type: always
  gamma: 0.90
  tau: 0.005  # Soft update coefficient for target networks
  auto_entropy_tuning: True  # Enable automatic entropy tuning
  alpha_type: softplus
  initial_alpha: 0.01  # Initial temperature value
  target_entropy: -4  # Target entropy (-action_dim)
  alpha_lr: 3.0e-4  # Learning rate for temperature parameter
  critic_actor_ratio: 4

  # Replay buffer settings
  replay_buffer_capacity: 20000
  min_buffer_size: 200  # Minimum buffer size before training starts
  target_update_freq: 1  # Frequency of target network updates

  # params for rollout
  sampling_params:
    do_sample: True
    temperature_train: 1.0
    temperature_eval: 0.6
    top_k: 50
    top_p: 1.0
    repetition_penalty: 1.0

  # length argument for autoregressive sampling
  length_params:
    max_new_token: 7
    max_length: 1024
    min_length: 1

env:
  group_name: "EnvGroup"
  enable_offload: False

  train:
    total_num_envs: 1
    override_cfg:
      is_dummy: False
      use_dense_reward: True
      target_ee_pose: [[0, 0, 0, 0, 0, 0], [0.27, 0.09, 0.02, 0.0, 1.0, 0.6]]
      random_xy_range: 0.05
      random_z_range_low: 0.00
      random_z_range_high: 0.1
      random_rz_range: 0.15 # About np.pi/9
      smooth_frequency: 50

rollout:
  group_name: "RolloutGroup"
  backend: "huggingface"
  model_dir: ""
  enable_offload: False
  pipeline_stage_num: 1

  model:
    model_path: "/home/franka/hongzhi/RLinf/"
    precision: ${actor.model.precision}

actor:
  group_name: "ActorGroup"
  training_backend: "fsdp"

  micro_batch_size: 256
  global_batch_size: 256
  seed: 1234
  enable_offload: False

  model:
    model_type: "flow_policy"
    input_type: "mixed" # only mixed input can be used in real world!
    
    # Actually used as directory/
    # In policy, there is: ckpt_path = os.path.join(self.model_path, self.encoder_config["ckpt_name"])
    model_path: "/home/franka/hongzhi/RLinf/"

    state_dim: 19 # 29 -> 19 for real world
    action_dim: 6 # 4 -> 6 for real world
    image_num: 1
        
    num_action_chunks: 1 # only 1 is supported for now
    hidden_dim: 256
    
    precision: "32"
    add_value_head: False
    add_q_head: True
    num_q_heads: 10  # number of Q heads for critic, passed to policy module
    backbone: resnet # only "resnet" is supported for now
    
    ##-- Flow Matching specific parameters --##
    denoising_steps: 4  # Number of denoising steps for flow matching
    d_model: 256  # Transformer model dimension
    n_head: 4  # Number of attention heads
    n_layers: 2  # Number of transformer layers
    use_batch_norm: False  # Whether to use batch normalization
    batch_norm_momentum: 0.99  # Batch normalization momentum
    flow_actor_type: "JaxFlowTActor"  # "FlowTActor" or "JaxFlowTActor", "JaxFlowTActor" is recommended
    noise_std_head: False  # Whether to use a separate head to predict noise_std, otherwise fixed std is used
    log_std_min_train: -5  # Min log std for training (if using noise_std_head)
    log_std_max_train: 2   # Max log std for training (if using noise_std_head)
    log_std_min_rollout: -20  # Min log std for rollout (if using noise_std_head)
    log_std_max_rollout: 0    # Max log std for rollout (if using noise_std_head)
    noise_std_train: 0.3  # Fixed noise std for training (if not using noise_std_head)
    noise_std_rollout: 0.02  # Fixed noise std for rollout (if not using noise_std_head)

    is_lora: False
    lora_rank: 32
    ckpt_path: null
    gradient_checkpointing: False
    sharding_strategy: no_shard
    vh_mode: "q_network"
    q_network_separate_processing: True

    encoder_config:
      ckpt_name: "resnet10_pretrained.pt" # 'pretrained_ckpt_path' renamed to 'ckpt_name'

  optim:
    lr: 3.0e-4  # Lower learning rate for SAC
    value_lr: 3.0e-4  # Q-network learning rate
    adam_beta1: 0.9
    adam_beta2: 0.999
    adam_eps: 1.0e-08
    clip_grad: 10.0

  # Override the default values in training_backend/fsdp
  fsdp_config:
    strategy: "fsdp"
    sharding_strategy: "no_shard"
    mixed_precision:
      param_dtype: ${actor.model.precision}
      reduce_dtype: ${actor.model.precision}
      buffer_dtype: ${actor.model.precision}

reward:
  use_reward_model: False

critic:
  use_critic_model: False
