model_type: "openvla_oft"
implement_version: "user" # supported versions: ['user', 'offical']
# user: refers to the models for LIBERO and ManiSkill released on Hugging Face by USER, 
#        trained with USER's modified OpenVLA-OFT repository.
# official: refers to the models for RoboTwin released on Hugging Face by USER 
#        and any other resources trained from the official OpenVLA-OFT repository,
#        which supports use_film and use_proprio.

model_path: "/path/to/model/Openvla-oft-SFT-libero10-traj1/"  # Different paths used in different configs

precision: "bf16"

value_type: action_level

action_dim: 7
num_action_chunks: 8
use_proprio: False
use_film: False
unnorm_key: libero_10_no_noops
center_crop: True

max_prompt_length: 50
vocab_size: 32000
hidden_size: 4096
add_value_head: False
image_size: [224, 224]
is_lora: False
lora_rank: 32
lora_path: null
num_images_in_input: 1
attn_implementation: "flash_attention_2"
low_cpu_mem_usage: True
trust_remote_code: True

# used for maniskill
policy_setup: "widowx_bridge"
