env_type: opensora_wm
task_suite_name: libero_spatial
wm_env_type: libero

total_num_envs: null

auto_reset: False
ignore_terminations: False
max_steps_per_rollout_epoch: 240
max_episode_steps: 240 # max episode steps for truncation

use_rel_reward: True
reward_coef: 1.0

# USER LiberoEnv specific settings
reset_gripper_open: True
is_eval: False

seed: 0
group_size: 1
use_fixed_reset_state_ids: True
use_ordered_reset_state_ids: False

# Indicate the reset state id (related to the task_id and trial_id) want to be specified. (e.g. 
# if set 0, the env always use the task 0 and trial 0 in the libero-spatial suite; 
# if set null, the initial states will be sampled from the whole libero-spatial suite. )
specific_reset_id: null # can be a number or null.

video_cfg:
  save_video: True
  info_on_video: True
  video_base_dir: ${runner.logger.log_path}/video/train

###  ------------------Opensora params define here ------------------

opensora_wm_hf_ckpt_path: null
initial_image_path: ${env.train.opensora_wm_hf_ckpt_path}/dataset/

world_model_cfg:
  # Dataset settings
  stats_path: ${env.train.opensora_wm_hf_ckpt_path}/dataset_statistics.json
  dtype: bf16

  # Model settings
  model:
    type: "STDiT3-XL/2"
    from_pretrained: ${env.train.opensora_wm_hf_ckpt_path}/model-00001.safetensors
    qk_norm: true
    enable_flash_attn: true
    enable_layernorm_kernel: true
    action_dim: 7
    pad_action_num: 4

  vae:
    type: SDXL
    from_pretrained: ${env.train.opensora_wm_hf_ckpt_path}/vae
    micro_frame_size: 8   # had better not to be changed
    micro_batch_size: 64  # had better not to be changed

  reward_model:
    type: ResnetRM
    from_pretrained: ${env.train.opensora_wm_hf_ckpt_path}/resnet_rm.pth

  scheduler:
    type: rflow
    use_timestep_transform: true
    sample_method: logit-normal

  chunk: 8                     # should be same as chunk in VLA
  condition_frame_length: 4    # condition frame length of world model
  image_size: [256, 256]       # output image size of world model